
  .front {
    background: white;
    width: 400px;
    padding: 25px;
    margin: 30px auto;
  }
  .modal-link, a {
    color: #429aff;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-exit {
  	float: right;
  	padding: 3px 5px;
  }

  .modal-link:hover, a:hover,
  .modal-link:focus, a:focus,
  .modal-link:active, a:active {
    text-decoration: underline;
    z-index: 999999;
  }
  .modal > .check {
    display: none;
  }
  .modal > .container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100vh;
    overflow: auto;
    z-index: 999999;
    transition: background 0.5s ease 0.5s, top 0s ease 0.5s;
  }
  .modal > .check:checked ~ .container {
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    transition: background 0.5s ease;
  }
  .modal > .container > .content {
    background: white;
    min-height: 250px;
    margin: 30px;
    overflow: auto;
    position: relative;
    z-index: 999999;
    top: -1000px;
    box-shadow: 0 0 20px 2px #444;
    transition: top 0.3s ease;
  }
  .modal > .check:checked ~ .container > .content {
  	z-index: 999999;
    top: 0;
    transition: top 0.3s ease 0.5s;
  }
  .modal-body {
  	margin-left: 30px;
  }
  @media only screen and (min-width: 480px) {
    .modal > .container > .content {
      width: 350px;
      margin: 30px auto;
    }
  }
  
  h2 {
  	margin: 0;
  	padding: 10px;
  	padding-left: 25px;
  	background: #ccc;
  	color: #fff;
  	font-size: 18px;
  	margin-bottom: 50px;
  }
.popup-hint {
	margin: 5px;
	font-size: 12px;
	color: #666;
}
#aim {
	margin-left£º25px;
}
select{
    width: 216px;
    height: 38px;
    background-position-x: 186px;
}
