@primary-font-color: rgb(32,33,34);
@primary-logo-color: rgb(211,0,45);
@primary-shadow-color: rgba(0,100,230,0.6);
@secondary-btn-color: rgb(0,69,255);
@secondary-font-color: rgb(80,80,80);
@tertiary-btn-color: rgb(38,128,0);
@tertiary-shadow-color: rgba(68,162,0,0.6);
@dark-border-color: #0d2157;
@content-width: 1200px;
@content-font-size: 20px;

* {
    margin: 0;
    padding: 0;
}

p {
    letter-spacing: 0.8px;   
}

input[type="text"],input[type="password"],select {
    height: 30px;
    width: 180px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: @content-font-size*0.9;
    color: @primary-font-color;
    margin: 7px 3px;
    padding: 5px 15px;
}
select {
    height: 30px;
    width: 100px;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: ~"url('img/arrow.png')" no-repeat center;
    background-position-x: 402px;
    padding-right: 10px;
}
select::-ms-expand{
    display: none;   
}
input[type="text"]:focus,input[type="password"]:focus,select:focus {
    outline: medium;
    box-shadow: @primary-shadow-color 0px 0px 5px 1px;
	-moz-box-shadow: @primary-shadow-color 0px 0px 5px 1px;
    -webkit-box-shadow: @primary-shadow-color 0px 0px 5px 1px;
    border-color: @secondary-btn-color;
}
input[type="submit"],input[type="button"] {
    height: 50px;
    width: 432px;
    background-color: @secondary-btn-color;
    color: #fff;
    font-size: @content-font-size;
    border: 0px;
    border-radius: 5px;
    &:hover{
        background-color: @primary-shadow-color;
    }
}
input[type="button"] {
	background-color: @primary-font-color*3;
	&:hover {
		background-color: @primary-logo-color;
	}
}
.display-none {
    display: none;
}

.arrow{
    width: 0;
    height: 0;
    border: 8px solid transparent;
    position: absolute;
    &-down  { margin-top: 8px; border-top-color: @primary-logo-color; margin-left: 7px; }
    &-right { margin-top: 4px; border-left-color: @primary-logo-color; }
}

header {
    width: @content-width;
    margin: 0 auto;
    height: 95px;
    #logo {
        display: block;
        text-decoration: none;
        font-size: 43px;
        font-weight: bold;
        width: 150px;
        float: left;
        margin: 30px 50px 0 0;
        letter-spacing: 4px;
        color:@primary-logo-color;
    }
    #nav {
        float: left;
        list-style: none;
        margin-top: 45px;
        .nav-item {
            margin-top: 4px;
            margin-left: 40px;
            display: block;
            float: left;
            text-align: center;
            .fc-item {
                padding: 3px 3px;
                text-decoration: none;
                color: @primary-font-color;
            }
            .nav-item-child{
                padding-top: 6px;
                list-style: none;
                line-height: 45px;
                left: -999em;
                width: 100px;
                position: absolute;
                li{
                    padding: 5px 0px 0px 10px;
                    background-color: rgb(242, 243, 245);
                    width: 200px;
                    text-align: left;
                    a {
                        text-decoration: none;
                        color:@primary-font-color;
                        &:hover{
                            border-bottom: 1px solid @primary-font-color
                        }
                    }
                }
            }

            &:hover{
                .nav-item-child{
                    left: auto;
					z-index: 10;
                }
                .fc-item{
                    border-bottom: 3px solid @primary-font-color;
                }
            }

        }
    }
    #user-interaction{
        float: right;
        margin-top: 49px;
		margin-right: 50px;
        color: @secondary-btn-color;
        font-weight: bold;
        a {
            margin-left: 15px;
            text-decoration: none;
        }
    }
}

footer {
	width:100%;
	float: left;
    height: 400px;
    background: linear-gradient(to bottom right, #f4f4f4, #fafafa);
    #upper-content {
        margin: 0 auto;
        width: @content-width;
        height: 350px;
        &-part-1, &-part-2, &-part-3 {
            width: 33%;
            float: left;
            h3 {
                margin: 25px 0;
                color: @secondary-font-color;
            }
        }
        &-part-1 {
            p, ul, a{
                color: #777;
                font-size: @content-font-size*0.8;
            }
            ul {
                list-style: none;
                margin: 35px 0 0 10px;
                li {
                    margin-top: 5px;
                }
                a {
                    margin-left: 15px;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &-part-2 {
            ul {
                li {
                    margin-right: 10px;
                    display: block;
                    float: left;
                }
            }
            #qrcode {
                padding-left: 30px;
                width: 210px;
            }
        }
        &-part-3 {
            img {
                height: 50px;
                margin: 5px 10px 0 0;
            }
            p, ul{
                margin-top: 20px;
                color: #777;
                font-size: @content-font-size*0.7;
            }
            ul {
                margin-left: 20px;
                li {
                    margin-top: 10px;
                }
            }
        }
    }
    #lower-content {
        margin: 0 auto;
        width: @content-width;
        line-height: 50px;
        border-top: 3px dotted #aaa;
        &-logo {
            margin-left: 100px;
            font-weight: bold;
            font-size: @content-font-size*1.2;
            color: @primary-logo-color;
            letter-spacing: 2px;
        }
        &-sign {
            margin-top: 4px;
            font-size: 14px;
            margin-left: 20px;
        }
    }
}

#signin-content {
    width: @content-width;
    margin: 80px auto;
    &-pane{
        margin: 0 2%;
        h1 {
            margin-bottom: 40px;
            font-size: 40px;
            color: @primary-font-color;
        }
        input[type="text"],input[type="password"] {
            height: 35px;
            width: 325px;
        }
		input[type="submit"] {
            height: 48px;
            width: 407px;
        }
        span {
            margin-left: 3px;
        }
        a {
            margin: 3px 0 0 3px;
            display: block;
            width: 250px;
            margin-top: 10px;
            text-decoration: none;
            color: @secondary-btn-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#signup-content {
    &-banner {
        width: 100%;
        height: 300px;
        margin: 0 auto;
        background: ~"url('img/banner-2.png')";
        background-position-y: -10px;
        background-repeat: no-repeat;
        background-size: cover;
        h1 {
            display: block;
            width: 400px;
            color: #fff;
            font-size: 30px;
            letter-spacing: 3px;
            margin: 0 auto;
            padding-top: 240px;
        }
    }
    &-pane {
        width: 500px;
        margin: 60px auto;
        table {
            text-align: center;
            margin: 0 auto;
			width: 400px;
            #username-hint {
                text-align: left;
                padding-left: 10px;
                color: @secondary-font-color;
            }
        }
        #username, #password, #confpass{
            width: 400px;
        }
    }
	input[type="text"],input[type="password"],input[type="submit"] {
	    margin: 7px 3px;
	    padding: 5px 15px;
	}
}

#index-content {
	width: 75%;
	height: 450px;
	margin: 20px auto;
	a {
        display: block;
		position: relative;
		text-decoration: none;
		transform: scale(1);
	    box-shadow: 0px 0px 10px 2px rgba(25, 25, 25, 0.4);
	    transition: box-shadow 0.5s, transform 0.5s;
		&:hover {
			transition: box-shadow 0.5s, transform 0.5s;
			transform: scale(1.1);
			box-shadow: 0px 0px 15px 5px rgba(25, 25, 25, 0.4);
		}
	}
	&-img-title {
		position: absolute;
		bottom: 10%;
		left: 17%;
		margin: 0 auto;
		color: #fff;
        font-size: 200%;
        font-family:'New Century Schoolbook',  Times, Georgia, 'New York', serif;
        font-weight: bold;
		p {
			text-shadow:5px 2px 6px #000;
		}
	}
    &-img-1 {
        background-color: #00ff00;
        background:  ~"url('img/pet-1.jpg')";
    }
    &-img-2 {
        background-color: #ffff00;
        background:  ~"url('img/pet-2.jpg')";
    }
    &-img-3 {
        background-color: #00ffff;
        background: ~"url('img/pet-4.jpg')";
    }
    &-img-4 {
        background-color: #ff00f0;
        background:  ~"url('img/pet-3.jpg')";
    }
    &-img-1, &-img-2, &-img-3, &-img-4 {
        width: 22.5%;
        height: 450px;
        float: left;
        margin-left: 2%;
        border-radius: 20px;
		background-size: cover;
    }
}

.content {
	width: 1400px;
	margin: 0 auto;
	&-table {
		padding: 3px 7px;
		border: 2px #aaa solid;
		text-align: left;
		margin: 0 auto;
		
		tr {
			width: 100%;
			td {
				padding: 5px 5px;
				height: 30px;
				width: 200px;
			}
		}
	}
	
	&-search {
		width: 100%;
		height: 80px;
		&-pane {
			margin-top: 20px;
			margin-right: 50px;
			float: right;
			input[type="text"] {
				width: 300px;
				height: 25px;
			}
			input[type="submit"] {
				line-height:40px;
				width: 80px;
				height: 40px;
				font-size: 15px;
			}
		}
		
	}
	
	&-picshow {
		width: 100%;
		float: left;
		height: 840px;
		margin: 0 auto;
		&-item {
			display: block;
			border: 1px solid #aaa;
			transform: scale(1);
		    transition: transform 0.5s;
			height: 230px;
			width: 200px;
			float: left;
			margin: 28px 0 0 28px; 
			border-radius: 20px;
			text-decoration: none;
			&:hover {
				transform: scale(1.1);
				text-decoration: none;
			}
			img {
				width: 200px;
                height: 200px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
			}
			&-info {
				text-align: center;
				color: @primary-font-color;
			}
		}
	}
	
}

#detail-page {
	width: @content-width;
	height: 500px;
	margin: 30px auto;
	padding-top: 70px;
	&-pane-1 {
		width: 500px;
		float: left;
	}
	&-pane-2 {
		width: 600px;
		float: left;
		table {
			text-align: right;
			td {
				height: 70px;
				span {
					margin-right: 15px;
				}
			}
		}
		input[type='text'] {
			width: 400px;
		}
		input[type='submit'],input[type='button'] {
			width: 150px;
		}
		//input[type='submit'] {
		//	background-color: @tertiary-btn-color;
		//    &:hover{
		//        background-color: @tertiary-shadow-color;
		//    }
		//}
		select {
			width: 432px;
			height: 42px;
			background-position-x: 405px;
		}
	    .select-m {
		    width: 216px;
		    background-position-x: 182px;
	    }
	    .select-s {
	        width: 100px;
	        background-position-x: 72px;
	    }
		
	}
}
